.profile {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    margin: 35px 0 47px;
}

@media screen and (max-width: 540px) {
    .profile {
        grid-template-columns: none;
        grid-template-rows: 120px 1fr 70px;
        margin: 42px 0 24px;
    }
}