.popup__content-form-description {
    width: 358px;
    border: none;
    border-bottom: 1px solid #000;
    border-color: rgb(0, 0, 0, 0.2);
    margin-bottom: 30px;
    outline: none;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .popup__content-form-description {
        width: 238px;
    }
}

.popup__content-form-description:last-of-type {
    margin: 0;
}