.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 21px;
}

@media screen and (max-width: 540px) {
    .elements {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        grid-template-columns: 1fr;
        padding: 0 19px;
    }
}