.popup__content-form-button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 358px;
    background-color: #000;
    color: #fff;
    padding: 14px 125px 18px;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
}

.popup__content-form-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__content-form-button {
        width: 238px;
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
    }
}