.profile__info-add-button {
    justify-self: end;
    width: 150px;
    height: 50px;
    appearance: none;
    background: none;
    border: 2px solid #ffffff; 
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url(../../../images/Add_Button.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 35px;
    padding: 0;
}

.profile__info-add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .profile__info-add-button {
        justify-self: center;
        min-width: 282px;
        background-image: url(../../../images/Add_Button_320.png);
        margin-top: 8px;
    }
}
    